.valor{
    font-size: 1.5em;
    color: red;
    font-weight: bold;
}
.De{
    font-size: 1.2em;
    text-decoration: line-through;
}

footer {
    margin-top: 50px;
    padding: 50px 0;
    color: #fff;
}
footer hr{
    border: 1px solid #fff;
}
thead, tfoot{
    background-color: #ccc ;
    font-weight: bold;
}